Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [11]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [12]:
driver.get('https://www.naukri.com/')

In [13]:
search_field_skill=driver.find_element_by_class_name('suggestor-input ')
search_field_skill.send_keys('Data Analyst')

In [15]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [19]:
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()

In [20]:
job_title=[]

In [ ]:
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title
titles=title[0:10]
titles

In [24]:
for i in titles:
    job_title.append(i.text)

In [ ]:
job_title

In [26]:
company_name=[]

In [ ]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company
companies=company[0:10]
companies

In [29]:
for i in companies:
    company_name.append(i.text)

In [ ]:
company_name

In [31]:
experience=[]

In [ ]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
exp
exps=exp[0:10]
exps

In [34]:
for i in exps:
    experience.append(i.text)

In [ ]:
experience

In [42]:
location=[]

In [ ]:
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc
locs=loc[0:10]
locs

In [44]:
for i in locs:
    location.append(i.text)

In [ ]:
location

In [47]:
print(len(company_name),len(experience),len(location),len(experience))

10 10 10 10

In [48]:
import pandas as pd

In [49]:
df=pd.DataFrame({'Job title':job_title,'Company Name':company_name,'Location':location,'Experience':experience})

In [50]:
df

,Job title,Company Name,Location,Experience
0,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru\n(WFH during Covid),0-5 Yrs
1,Senior Data Analyst,Gsn Games India,Bangalore/Bengaluru,3-7 Yrs
2,Officer - Category Demand Management ( Data An...,Myntra,Bangalore/Bengaluru,1-4 Yrs
3,Software Technologist II - Data Analyst,Philips,Bangalore/Bengaluru,5-8 Yrs
4,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-7 Yrs
5,Sr Data Analyst,TECHNODYSIS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",6-10 Yrs
6,Senior Data Analyst,ClearTrail Technologies,"Noida, Indore, Hyderabad/Secunderabad, Pune, G...",4-8 Yrs
7,Data Analyst,Malayala Manorama,"Chennai, Bangalore/Bengaluru, kerala",2-7 Yrs
8,Data Analyst II,Cerner,Bangalore/Bengaluru,6-10 Yrs
9,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,2-4 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [51]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [52]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [53]:
driver.get('https://www.naukri.com/')

In [54]:
search_field_designation=driver.find_element_by_class_name('suggestor-input ') #job search
search_field_designation.send_keys('Data scientist')

In [55]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [58]:
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()

In [59]:
job_title=[]

In [ ]:
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title
titles=title[0:10]
titles

In [ ]:
for i in titles:
    job_title.append(i.text)
job_title

In [67]:
company_name=[]

In [ ]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company
companies=company[0:10]
companies

In [69]:
for i in companies:
    company_name.append(i.text)

In [ ]:
company_name

In [71]:
location=[]

In [ ]:
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc
locs=loc[0:10]
locs

In [76]:
for i in locs:
    location.append(i.text)

In [ ]:
location

In [80]:
print(len(job_title),len(company_name),len(location))

10 10 10

In [81]:
import pandas as pd

In [82]:
df=pd.DataFrame({'Job title':job_title,'Company Name':company_name,'Location':location})

In [83]:
df

,Job title,Company Name,Location
0,Senior Data Scientist,Walmart,Bangalore/Bengaluru
1,Data Scientist,CRED,Bangalore/Bengaluru
2,Senior Data Scientist,Course5,"Bangalore/Bengaluru, Mumbai (All Areas)"
3,Associate Data Scientist,IDFC FIRST Bank,"Mumbai, Pune, Bangalore/Bengaluru, Mumbai"
4,Senior Data Scientist (IN4),Walmart,Bangalore/Bengaluru
5,Senior Data Scientist,Walmart,Bangalore/Bengaluru
6,Senior Data Scientist,Ericsson Global Services,Bangalore/Bengaluru
7,Lead Data Scientist,Groww,Bangalore/Bengaluru
8,Senior Data Scientist,Truecaller,Bangalore/Bengaluru
9,Senior Data Scientist,PayU,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_field_designation=driver.find_element_by_class_name('suggestor-input ') #job search
search_field_designation.send_keys('Data scientist')

In [5]:
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()

In [6]:
loc_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
loc_filter.click()

In [7]:
sal_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
sal_filter.click()

In [8]:
job_title=[]

In [ ]:
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title
titles=title[0:10]
titles

In [10]:
for i in titles:
    job_title.append(i.text)

In [ ]:
job_title

In [12]:
company_name=[]

In [ ]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company
companies=company[0:10]
companies

In [14]:
for i in companies:
    company_name.append(i.text)

In [ ]:
company_name

In [16]:
experience=[]

In [ ]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
exp
exps=exp[0:10]
exps

In [18]:
for i in exps:
    experience.append(i.text)

In [ ]:
experience

In [20]:
location=[]

In [ ]:
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc
locs=loc[0:10]
locs

In [22]:
for i in locs:
    location.append(i.text)

In [ ]:
location

In [24]:
print(len(company_name),len(experience),len(location),len(experience))

10 10 10 10

In [25]:
df=pd.DataFrame({'Job title':job_title,'Company Name':company_name,'Location':location,'Experience':experience})

In [26]:
df

,Job title,Company Name,Location,Experience
0,Associate Data Scientist,Optum,Gurgaon/Gurugram,1-5 Yrs
1,Hiring For Senior Data Scientist-Noida,Lumiq.ai,"Noida, Greater Noida, Delhi / NCR",2-6 Yrs
2,Opening For Data Scientist,Care Health Insurance,Gurgaon/Gurugram,1-5 Yrs
3,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",0-4 Yrs
4,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs
5,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs
6,Data Scientist,Boston Consulting Group,New Delhi,2-5 Yrs
7,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
8,Lead Data Scientist,KIA INDIA PRIVATE LIMITED,Gurgaon/Gurugram,7-10 Yrs
9,Data Scientist - Python/SQL,AVE-Promagne,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [89]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [90]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [91]:
driver.get('https://www.flipkart.com/')

In [92]:
search_product=driver.find_element_by_class_name('_3704LK')
search_product.send_keys('sunglasses')

In [93]:
search_button=driver.find_element_by_class_name('L0Z3Pu')
search_button.click()

In [ ]:
title=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title

In [95]:
brand=[]
for i in range(0,3):
    title=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in title:
        titles=i.text
        brand.append(titles)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
brand

In [ ]:
brands=brand[0:100]
brands

In [98]:
p_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p_page.click()

In [ ]:
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des

In [100]:
description=[]
for i in range(0,3):
    des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in des:
        description.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
descriptions=description[0:100]
descriptions

In [102]:
p_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p_page.click()

In [ ]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price

In [104]:
prices=[]
for i in range(0,3):
    price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price:
        prices.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
Prices=prices[0:100]
Prices

In [106]:
p_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p_page.click()

In [ ]:
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
discount

In [108]:
discounts=[]
for i in range(0,3):
    discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discount:
        discounts.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
Discounts=discounts[0:100]
Discounts

In [110]:
print(len(brands),len(descriptions),len(Prices),len(Discounts))

100 100 100 100

In [111]:
df=pd.DataFrame({'Brand_Name':brands,'Product_description':descriptions,'Price_':Prices,'Discount %':Discounts})

In [112]:
df

,Brand_Name,Product_description,Price_,Discount %
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹630,78% off
1,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹239,65% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,27% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹599,25% off
...,...,...,...,...
95,ROYAL SON,Mirrored Aviator Sunglasses (63),"₹4,489",40% off
96,PIRASO,UV Protection Wayfarer Sunglasses (32),₹225,85% off
97,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
98,Fastrack,UV Protection Aviator Sunglasses (58),₹999,23% off
99,ROYAL SON,Gradient Round Sunglasses (52),"₹7,619",30% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace‪')

In [ ]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating

In [ ]:
all_reviews=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span")
all_reviews.click()

In [13]:
next_button=driver.find_element_by_class_name('_1LKTO3')
next_button.click()

In [15]:
ratings=[]
for i in range(0,10):
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        ratings.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    
    time.sleep(4)

In [ ]:
ratings

In [ ]:
review_sum=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review_sum

In [18]:
review_summery=[]
for i in range(0,10):
    review_sum=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in review_sum:
        review_summery.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(4)

In [ ]:
review_summery

In [ ]:
ful_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
ful_review

In [21]:
full_review=[]
for i in range(0,10):
    ful_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in ful_review:
        full_review.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(4)

In [ ]:
full_review

In [23]:
print(len(full_review),len(review_summery),len(ratings))

100 100 100

In [24]:
df=pd.DataFrame({'Rating':ratings,'Review Summery':review_summery,'Full Review':full_review})

In [25]:
df

,Rating,Review Summery,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [118]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [119]:
driver=webdriver.Chrome('chromedriver.exe')

In [120]:
driver.get('https://www.flipkart.com/')

In [121]:
search_product=driver.find_element_by_class_name('_3704LK')
search_product.send_keys('sneakers')

In [122]:
search_button=driver.find_element_by_class_name('L0Z3Pu')
search_button.click()

In [ ]:
title=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title

In [124]:
brand=[]
for i in range(0,3):
    title=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in title:
        titles=i.text
        brand.append(titles)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
brands=brand[0:100]
brands

In [126]:
len(brands)

100

In [ ]:
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des

In [128]:
description=[]
for i in range(0,3):
    des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in des:
        description.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
descriptions=description[0:100]
descriptions

In [130]:
len(descriptions)

100

In [ ]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price

In [132]:
prices=[]
for i in range(0,3):
    price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price:
        prices.append(i.text)
    next_button=driver.find_element_by_class_name('_1LKTO3')
    next_button.click()
    time.sleep(5)

In [ ]:
Prices=prices[0:100]
Prices

In [134]:
print(len(brands),len(descriptions),len(Prices))

100 100 100

In [137]:
df=pd.DataFrame({'Brand_Name':brands,'Product_description':descriptions,'Price_':Prices})
df

,Brand_Name,Product_description,Price_
0,HIGHLANDER,Stylish & Trending Outdoor Walking Comfortable...,₹746
1,HRX by Hrithik Roshan,Sneakers For Men,₹945
2,URBANBOX,"Stylish Comfortable Lightweight, Breathable Wa...",₹142
3,corsac,Sneakers For Men,₹449
4,Kraasa,all white heartbeat casual shoe Sneakers For Men,₹349
...,...,...,...
95,Strollin,Sneakers For Men,₹379
96,Kraasa,Stylish & Trending Outdoor Walking Comfortable...,₹449
97,ASTEROID,Modern Trendy Sneakers Shoes Sneakers For Men,₹449
98,BRUTON,Sneakers For Men,₹249
99,Layasa,Chevit Combo Pack of 5 Casual Sneakers With Ca...,₹399

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [70]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings                  
warnings.filterwarnings('ignore')
import time

In [71]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [72]:
driver.get('https://www.myntra.com/shoes')

In [73]:
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [74]:
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [ ]:
title=driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
title

In [76]:
brand=[]
for i in range(0,2):
    title=driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
    for i in title:
        titles=i.text
        brand.append(titles)
    next_button=driver.find_element_by_class_name('pagination-next')
    next_button.click()
    time.sleep(5)

In [ ]:
brand

In [78]:
p_page=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
p_page.click()

In [ ]:
des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des

In [80]:
description=[]
for i in range(0,2):
    des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in des:
        description.append(i.text)
    next_button=driver.find_element_by_class_name('pagination-next')
    next_button.click()
    time.sleep(5)

In [ ]:
description

In [82]:
p_page=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
p_page.click()

In [ ]:
price=driver.find_elements_by_xpath('//div[@class="product-price"]')
price

In [84]:
prices=[]
for i in range(0,2):
    price=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price:
        prices.append(i.text)
    next_button=driver.find_element_by_class_name('pagination-next')
    next_button.click()
    time.sleep(5)

In [ ]:
prices

In [86]:
print(len(brand),len(description),len(prices))

100 100 100

In [87]:
df=pd.DataFrame({'Brand_Name':brand,'Product_description':description,'Price':prices})

In [88]:
df

,Brand_Name,Product_description,Price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7195Rs. 7995(10% OFF)
1,ALDO,Men Woven Design Sneakers,Rs. 13999
2,ALDO,Men Leather Driving Shoes,Rs. 12999
3,ALDO,Men Leather Loafers,Rs. 12999
4,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
96,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
97,UNDER ARMOUR,Men Charged Breeze Running,Rs. 8999
98,Columbia,Women Trekking Shoes,Rs. 8999
99,Bugatti,Leather Block Heeled Boots,Rs. 7999Rs. 9999(20% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [31]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [32]:
driver=webdriver.Chrome('chromedriver.exe')

In [33]:
driver.get('https://www.amazon.in/')

In [34]:
search_product=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_product.send_keys('laptop')

In [35]:
search_button=driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [37]:
cpu_filter=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/span')
cpu_filter.click()

In [ ]:
title=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title

In [39]:
titles=[]

In [40]:
for i in title:
    titles.append(i.text)

In [ ]:
TITLE=titles[0:10]
TITLE

In [ ]:
price=driver.find_elements_by_xpath('//span[@class="a-price"]')
price

In [ ]:
prices=[]
for i in price:
    prices.append(i.text)
prices

In [ ]:
Price=prices[0:10]
Price

In [ ]:
rating=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
rating

In [46]:
#as my ticket you asked to skip rating due to exception handling not taught to us
ratings=[]

In [47]:
print(len(TITLE),len(Price))

10 10

In [48]:
df=pd.DataFrame({'laptop Title':TITLE,'PRICE':Price})

In [49]:
df

                                        laptop Title      PRICE
0  Acer Predator Helios 300 11th Gen Intel Core i...  ₹1,69,990
1  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  ₹1,16,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    ₹57,990
3  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    ₹86,490
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    ₹87,990
5  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...    ₹79,990
6  HP Pavilion 11th Gen Intel Core i7 Processor 1...    ₹87,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    ₹83,990
8  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    ₹66,990
9  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...    ₹88,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.ambitionbox.com/')

In [4]:
job=driver.find_element_by_xpath('//a[@class="link jobs"]')
job.click()

In [5]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_field_designation.send_keys('Data scientist')

In [6]:
search_button=driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]/span')
search_button.click()

In [7]:
clk_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
clk_location.click()

In [8]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_field_location.send_keys('Noida')

In [9]:
clk_noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
clk_noida.click()

In [ ]:
c_name=driver.find_elements_by_xpath('//div[@class="company-info"]/p')
c_name

In [16]:
company=[]

In [17]:
for i in c_name:
    company.append(i.text)

In [ ]:
company

In [ ]:
Company=company[1:11]
Company

In [ ]:
post=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
post

In [21]:
job_posted=[]

In [22]:
for i in range(0,len(post),2)[0:21]:
    job_posted.append(post[i].text)

In [ ]:
job_posted

In [ ]:
rating=driver.find_elements_by_xpath('//span[@class="body-small"]')
rating

In [25]:
ratings=[]

In [26]:
for i in rating:
    ratings.append(i.text)

In [ ]:
ratings

In [28]:
print(len(Company),len(job_posted),len(ratings))

10 10 10

In [29]:
df=pd.DataFrame({'Company Neme':Company,'Job Posted':job_posted,'Rating':ratings})

In [30]:
df

                                       Company Neme Job Posted Rating
0                     GENPACT India Private Limited    12d ago    4.0
1                  EXL Services.com ( I ) Pvt. Ltd.     5d ago    3.9
2                     GENPACT India Private Limited    17d ago    4.0
3  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED     3d ago    3.9
4                                 Tech Mahindra Ltd   1mon ago    3.7
5                     GENPACT India Private Limited   1mon ago    4.0
6                         Bristlecone India Limited    12d ago    3.8
7                                             Zyoin    16d ago    4.1
8                Ashkom Media India Private Limited     3d ago    3.7
9                 Newgen Software Technologies Ltd.    18d ago    3.5

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
ASSIGNMENT 2
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.ambitionbox.com/')

In [4]:
salaries=driver.find_element_by_xpath('//a[@class="link salaries"]')
salaries.click()

In [5]:
job_profile = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

job_profile.send_keys('Data Scientist')

In [6]:
select_DS = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
select_DS.click()

In [ ]:
company=driver.find_elements_by_xpath('//div[@class="company-info"]/div/a')
company

In [8]:
companies=[]
for i in company:
    companies.append(i.text)

In [ ]:
companies

In [ ]:
total_salary=driver.find_elements_by_xpath('//div[@class="company-info"]/div/span')
total_salary

In [11]:
total_sal_record=[]
for i in range(0,len(total_salary),2)[0:20]:
    total_sal_record.append(total_salary[i].text)

In [ ]:
total_sal_record

In [ ]:
min_sal=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
min_sal

In [14]:
min_salary=[]
for i in range(0,len(min_sal),2)[0:20]:
    min_salary.append(min_sal[i].text)

In [ ]:
 min_salary

In [ ]:
max_sal=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
max_sal

In [17]:
max_salary=[]
for i in range(1,len(max_sal),2)[0:20]:
    max_salary.append(max_sal[i].text)

In [ ]:
max_salary

In [ ]:
avg_sal=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_sal

In [20]:
avg_salary=[]
for i in avg_sal:
    avg_salary.append(i.text)

In [ ]:
avg_salary

In [ ]:
exp_req=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_req

In [32]:
exp_re=[]
for i in exp_req:
    exp_re.append(i.text.replace('\n','').replace('.','').replace('Data Scientist',''))

In [ ]:
exp_re

In [34]:
print(len(companies),len(total_sal_record),len( min_salary),len(max_salary),len(avg_salary),len(exp_re))

10 10 10 10 10 10

In [35]:
df=pd.DataFrame({'Company Name':companies,'Total Salary Recorrd':total_sal_record,'Exp Req':exp_re,'Min Salary':min_salary,'Avg salary':avg_salary,'Max salary':max_salary})

In [36]:
df

,Company Name,Total Salary Recorrd,Exp Req,Min Salary,Avg salary,Max salary
0,Walmart,based on 11 salaries,3 yrs exp,₹ 25.0L,₹ 29.7L,₹ 35.0L
1,Ab Inbev,based on 32 salaries,3-4 yrs exp,₹ 15.0L,₹ 20.5L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,4 yrs exp,₹ 5.6L,₹ 18.9L,₹ 26.2L
3,ZS,based on 15 salaries,2 yrs exp,₹ 9.8L,₹ 15.9L,₹ 20.0L
4,Optum,based on 27 salaries,3-4 yrs exp,₹ 11.0L,₹ 15.2L,₹ 22.0L
5,Fractal Analytics,based on 81 salaries,2-4 yrs exp,₹ 9.5L,₹ 15.2L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,2-4 yrs exp,₹ 9.0L,₹ 14.8L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,2-4 yrs exp,₹ 8.3L,₹ 14.0L,₹ 20.5L
8,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L