In [1]:
# Importing Libraries
import selenium
# Importing selenium webdriver 
from selenium import webdriver

import pandas as pd
import numpy as np

import time
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')


# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [44]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [45]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [58]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [59]:
ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")

In [60]:
for i in ranks[0:30]:
    rank.append(i.text)

In [62]:
names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")

In [63]:
for i in names[0:30]:
    name.append(i.text)

In [64]:
artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")

In [65]:
for i in artists[0:30]:
    artist.append(i.text)

In [66]:
up_date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")

In [67]:
for i in up_date[0:30]:
    upload_date.append(i.text)

In [68]:
view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")

In [69]:
for i in view[0:30]:
    views.append(i.text)

In [70]:
print(len(rank),len(name),len(artist),len(upload_date),len(views))

30 30 30 30 30

In [71]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':upload_date,'Views(Billions)':views})

In [72]:
df

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.77
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.87
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.37
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.74
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.53
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.42
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.66
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.59
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.44
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.11
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.95
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.70
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.60
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.59
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.38
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.30
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.29
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.28
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.26
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.24
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.22
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.21
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.18
27,28.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.16
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.09

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [4]:
driver.get('https://www.bcci.tv/.')

In [5]:
click_on=driver.find_element_by_xpath('/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
click_on.click()

In [94]:
title=[]

In [95]:
titles=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')

In [ ]:
titles

In [96]:
for i in titles:
    title.append(i.text)

In [97]:
title

['3rd T20I -', '4th T20I -', '5th T20I -']

In [53]:
seriess=driver.find_elements_by_xpath('//span[@class="ng-binding"]')

In [ ]:
seriess

In [55]:
for i in seriess:
    series.append(i.text)

In [ ]:
series

In [67]:
dates=driver.find_elements_by_xpath('//h5[@class="ng-binding"]')

In [68]:
date=[]

In [69]:
for i in dates:
    date.append(i.text)

In [70]:
date

['14 JUN 2022', '17 JUN 2022', '19 JUN 2022']

In [102]:
time=[]

In [103]:
times=driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')

In [104]:
for i in times:
    time.append(i.text)

In [105]:
time

['7:00 PM IST', '7:00 PM IST', '7:00 PM IST']

In [85]:
place=[]

In [89]:
places=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[2]')

In [90]:
for i in places:
    place.append(i.text)

In [91]:
place

['Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'M Chinnaswamy Stadium,']

In [106]:
df=pd.DataFrame({'Match Title':title,'Series':series,'Date':date,'Time':time ,'Place':place})

In [107]:
df

,Match Title,Series,Date,Time,Place
0,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,14 JUN 2022,7:00 PM IST,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,"
1,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,17 JUN 2022,7:00 PM IST,"Saurashtra Cricket Association Stadium,"
2,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,19 JUN 2022,7:00 PM IST,"M Chinnaswamy Stadium,"

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [3]:
driver.get('https://www.guru99.com/')

In [4]:
srch_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')
srch_bar.click()

In [18]:
srch_bar.send_keys('selenium exception handling')

In [19]:
srch=driver.find_element_by_xpath('//button[@class="gsc-search-button gsc-search-button-v2"]')
srch.click()

In [20]:
names=[]

In [21]:
name=driver.find_elements_by_xpath('//div[@class="gsc-thumbnail-inside"]')
time.sleep(5)

In [22]:
for j in name:
        names.append(j.text)

In [ ]:
names

In [29]:
description=[]

In [30]:
des=driver.find_elements_by_xpath('//div[@class="gs-bidi-start-align gs-snippet"]')

In [31]:
for i in des:
    description.append(i.text)

In [ ]:
description

In [33]:
print(len(names),len(description))

11 11

In [34]:
df=pd.DataFrame({'Names':names,'Desciption':description})

In [35]:
df

,Names,Desciption
0,Selenium Exception Handling (Common Exceptions...,21-May-2022 ... Common Exceptions in Selenium ...
1,How to Handle SSL Certificate in Selenium WebD...,23-Apr-2022 ... For handling SSL certificate e...
2,Try Catch in Java: Exception Handling Example,07-May-2022 ... All these errors are highlight...
3,Selenium Alert & Popup Window Handling: How to...,16-Apr-2022 ... We will also see how to handle...
4,"Python Exception Handling: try, catch, finally...",03-May-2022 ... In this Python exceptional han...
5,"C++ Exception Handling: Try, Catch, throw Example",07-May-2022 ... User-Defined Exceptions. Why E...
6,"VB.Net Exception Handling | Try, Catch, Error ...",23-Apr-2022 ... In this VB.Net Exception Handl...
7,Oracle PL/SQL Exception Handling: Examples to ...,30-Apr-2022 ... Exception-Handling Syntax · Ty...
8,PHP Try Catch Example: Exception & Error Handl...,23-Apr-2022 ... Learn with example Exception &...
9,JSP Exception Handling | Error Handling in JSP...,"30-Apr-2022 ... In this tutorial, we will lear..."
10,,

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [116]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [117]:
driver.get('http://statisticstimes.com/')

In [118]:
eco=driver.find_element_by_xpath('//div[@class="dropdown"][2]/button/i')
eco.click()
ind_eco=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind_eco.click()

In [119]:
ind_gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
ind_gdp.click()

In [76]:
rank=[]

In [77]:
ranks=driver.find_elements_by_xpath('//td[@class="data1 sorting_1"]')
time.sleep(2)

In [78]:
for i in ranks:
    rank.append(i.text)

In [79]:
len(rank)

33

In [83]:
state=[]

In [80]:
states=driver.find_elements_by_xpath('//td[@class="name"]')
time.sleep(2)

In [84]:
for i in states[0:33]:
    state.append(i.text)

In [86]:
len(state)

33

In [104]:
gsdp1=[]

In [105]:
gsdp18=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[4]')

In [ ]:
gsdp18

In [106]:
for i in gsdp18[0:33]:
    gsdp1.append(i.text)

In [108]:
len(gsdp1)

33

In [109]:
gsdp2=[]

In [110]:
gsdp19=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[3]')

In [111]:
for i in gsdp19[0:33]:
    gsdp2.append(i.text)

In [113]:
len(gsdp2)

33

In [132]:
share=[]

In [133]:
shares=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[5]')

In [134]:
for i in shares[0:33]:
    share.append(i.text)

In [136]:
len(share)

33

In [137]:
gdp=[]

In [138]:
gdps=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[6]')

In [139]:
for i in gdps[0:33]:
    gdp.append(i.text)

In [141]:
len(gdp)

33

In [142]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP 18-19':gsdp1,'GSDP 19-20':gsdp2,'Share %':share,'GDP($ billions)':gdp})

In [143]:
df

,Rank,State,GSDP 18-19,GSDP 19-20,Share %,GDP($ billions)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [32]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [33]:
driver.get('https://github.com/')

In [34]:
exp=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
exp.click()
trnd=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trnd.click()

In [35]:
url=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')

In [36]:
urls=[]

In [37]:
for i in url:
    urls.append(i.get_attribute('href'))

In [49]:
len(url)

25

In [66]:
repositorytitle=[]
description=[]
Language_used=[]

In [67]:
for k in urls:
    driver.get(k)
    time.sleep(2)
    
    try:
        title=driver.find_element_by_xpath('//strong[@class="mr-2 flex-self-stretch"]')
        repositorytitle.append(title.text)
    except NoSuchElementException:
        repositorytitle.append('-')
        
    try:
        des=driver.find_element_by_xpath('//p[@class="f4 my-3"]')
        description.append(des.text)
    except NoSuchElementException:
        description.append('-')
        
    try:
        lan=driver.find_element_by_xpath('//li[@class="d-inline"]/a/span')
        Language_used.append(lan.text)
    except NoSuchElementException:
        Language_used.append('-')

In [68]:
len(Language_used)

25

In [78]:
con_count=[]

In [79]:
for k in urls:
    driver.get(k)
    time.sleep(2)
    
    try : 
        contributors_tag = driver.find_element_by_xpath("//h2[@class = 'h4 mb-3']/a/span")
        con_count.append(contributors_tag.text)
    except:
        con_count.append('-')

In [ ]:
con_count

In [81]:
print(len(description),len(repositorytitle),len(Language_used),len(con_count))

25 25 25 25

In [84]:
df=pd.DataFrame({'Repository Title':repositorytitle,'Repository Description':description,'Language Used':Language_used,'Contributors count':con_count})

In [85]:
df

,Repository Title,Repository Description,Language Used,Contributors count
0,jak-project,Reviving the language that brought us the Jak ...,Common Lisp,13
1,ToolJet,Extensible low-code framework for building bus...,JavaScript,51
2,spacedrive,Spacedrive is an open source cross-platform fi...,TypeScript,30
3,clap,Audio Plugin API,C,12
4,Baileys,Lightweight full-featured WhatsApp Web + Multi...,JavaScript,25
5,rustdesk,Open source virtual / remote desktop infrastru...,Rust,7
6,mdserver-web,Simple Linux Panel,JavaScript,10
7,Grasscutter,A server software reimplementation for a certa...,Java,4
8,tauri,"Build smaller, faster, and more secure desktop...",Rust,373
9,build-your-own-x,Master programming by recreating your favorite...,-,
10,fresh,"Preact, but super edgy",TypeScript,32
11,svg-spinners,A collection of 24 x 24 dp SVG spinners!,SVG,
12,IOC-golang,一款服务于 Go 开发者的依赖注入框架，方便搭建任何 Go 应用。 A Golang dep...,Go,
13,free-programming-books,📚 Freely available programming books,-,1
14,spring-cloud-tencent,Spring Cloud Tencent is a Spring Boot based Se...,Java,28
15,ADBench,"Official Implement of ""ADBench: Anomaly Detect...",Python,
16,workflow,C++ Parallel Computing and Asynchronous Networ...,C++,13
17,BotBuilder-Samples,Welcome to the Bot Framework samples repositor...,JavaScript,1
18,GitHubDaily,坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A...,-,
19,SQLite.swift,"A type-safe, Swift-language layer over SQLite3.",Swift,8
20,runelite,Open source Old School RuneScape client,Java,715
21,ai-audio-startups,Community list of startups working with AI in ...,-,
22,eui,Elastic UI Framework 🙌,TypeScript,110
23,tao,The TAO of cross-platform windowing. A library...,Rust,31
24,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,JavaScript,

6.Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [46]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [47]:
driver.get('https:/www.billboard.com/')

In [48]:
chart=driver.find_element_by_xpath('/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
chart.click()

In [49]:
hot100=driver.find_element_by_xpath('/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
hot100.click()

In [79]:
song_name=[]
artist_name=[]
lastweek_rank=[]
peak_rank=[]
weeks_onboard=[]

In [81]:
song_names=driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')

In [84]:
for i in song_names:
    song_name.append(i.text)

In [86]:
len(song_name)

100

In [91]:
#for 1ST Rank artist name
artistname1=driver.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')

In [ ]:
artist_names=driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')

In [92]:
artist_name.append(artistname1.text)

In [93]:
artist_name

['Harry Styles']

In [95]:
for i in artist_names:
    artist_name.append(i.text)

In [97]:
len(artist_name)

100

In [98]:
lst_wk=driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')

In [100]:
for i in lst_wk:
    lastweek_rank.append(i.text)

In [102]:
len(lastweek_rank)

100

In [103]:
peak_r=driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')

In [104]:
for i in peak_r:
    peak_rank.append(i.text)

In [106]:
len(peak_rank)

100

In [107]:
wk=driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')

In [108]:
for i in wk:
    weeks_onboard.append(i.text)

In [110]:
print(len(song_name),len(peak_rank),len(weeks_onboard),len(artist_name),len(lastweek_rank))

100 100 100 100 100

In [111]:
df=pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':lastweek_rank,'Peak rank':peak_rank,'Weeks Onboard':weeks_onboard})

In [112]:
df

,Song Name,Artist Name,Last Week Rank,Peak rank,Weeks Onboard
0,As It Was,Harry Styles,1,1,10
1,First Class,Jack Harlow,2,1,9
2,Wait For U,Future Featuring Drake & Tems,3,1,6
3,Running Up That Hill (A Deal With God),Kate Bush,8,4,22
4,About Damn Time,Lizzo,4,4,8
...,...,...,...,...,...
95,Neverita,Bad Bunny,85,31,5
96,When I'm Alone,Post Malone,-,97,1
97,7500 OBO,Tim McGraw,99,98,2
98,F.N.F. (Let's Go),Hitkidd & Glorilla,91,91,2
99,Euthanasia,Post Malone,-,100,1

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_field_skill=driver.find_element_by_class_name('suggestor-input ')
search_field_skill.send_keys('Data science')

In [5]:
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()

In [10]:
urls=[]

In [11]:
url=driver.find_elements_by_xpath('//div[@class="info fleft"]/a')

In [12]:
for i in url:
    urls.append(i.get_attribute('href'))

In [ ]:
urls

In [14]:
name=[]
designation=[]
company=[]
location=[]

In [15]:
for k in urls:
    driver.get(k)
    time.sleep(2)
    
    try:
        names=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        name.append(names.text)
    except NoSuchElementException:
        name.append('-')
        
    try:
        desgn=driver.find_element_by_xpath('/html/body/div[1]/main/div[2]/div[2]/section[2]/div[2]/div[1]/span/a')
        designation.append(desgn.text)
    except NoSuchElementException:
        designation.append('-')
        
    try:
        cmp=driver.find_element_by_xpath('/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[1]/div/a[1]')
        company.append(cmp.text)
    except NoSuchElementException:
        company.append('-')
        
    try:
        loc=driver.find_element_by_xpath('/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span/a')
        location.append(loc.text)
    except NoSuchElementException:
        location.append('-')

In [49]:
skills_hire_for=[]

In [47]:
skl=driver.find_elements_by_xpath('//article[@class="jobTuple bgWhite br4 mb-8"]/ul')

In [ ]:
skl

In [50]:
for i in skl:
    skills_hire_for.append(i.text)

In [51]:
len(skills_hire_for)

20

In [52]:
print(len(name),len(designation),len(company),len(location),len(skills_hire_for))

20 20 20 20 20

In [53]:
df=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills_hire_for':skills_hire_for,'Location':location})

In [54]:
df

,Name,Designation,Company,Skills_hire_for,Location
0,ExcelHer Intern - Data Science,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,Computer science\nAutomation\ndata science\nIn...,remote
1,"Data Analyst - Data Science, 3 To 5 Years",Business Analyst,Rise Finconnect Private Limited,Data Analytics\nData Science\nData Management\...,Bangalore/Bengaluru
2,India Market Unit - Data Science Analyst - 11,Business Analyst,Accenture,Strategy consulting\nMachine learning\nprofess...,Delhi / NCR
3,India Market Unit - Data Science Analyst - 11,Business Analyst,Accenture,Strategy consulting\nMachine learning\nprofess...,Mumbai
4,Senior Analyst-Data Science,Data Analyst,Accenture,Publishing\nConsulting\nPredictive modeling\nD...,Bangalore/Bengaluru
5,HCL || Data Science,Data Analyst,HCL Technologies,Azure Functions\nTableau\ncoding\nAzure\nGCP\n...,Chennai
6,ACN - Applied Intelligence - CC - Data Science...,Data Analyst,Accenture,Data analysis\nAnalytical\nConsulting\nAnalyti...,Gurgaon/Gurugram
7,Technical Analyst ( Python - Data Science and ...,Data Science & Analytics - Other,Coforge,python\nIT Skills\nData Science\nMachine Learn...,Bangalore/Bengaluru
8,Data Analyst ll - Data Science,Data Analyst,Walmart,IT Skills\nPython\nTesting\nData Science\nMach...,Bangalore/Bengaluru
9,Data Science - Engineering Manager,Data Scientist,Paytm,Computer science\ndata science\nEDC\nMachine l...,Noida
10,Business Analyst - Data Science,Business Analyst,PayU,Computer science\nWealth management\nLead Busi...,Bangalore/Bengaluru
11,Opportunity For Business Analyst - Data Scienc...,Business Analyst,PayU,Data scientist\nR\nNLP\nNatural Language Proce...,Gurgaon/Gurugram
12,Senior Specialist Data Science,Business Analyst,Dr.Reddy's,advanced analytics\nData analysis\nChannel mar...,Hyderabad/Secunderabad
13,ACN - Applied Intelligence - CC - Data Science...,Data Analyst,Accenture,Data analysis\ndata science\nConsulting\nForec...,Gurgaon/Gurugram
14,ACN - Applied Intelligence - CC - Data Science...,Data Analyst,Accenture,Data analysis\nData management\nAnalytical\nCo...,Gurgaon/Gurugram
15,Lead - Data Science,Data Scientist,Think360,Data Science\nUltrix\nR\ndata analysis\nstatis...,Mumbai
16,Manager Data Science,Data Analyst,Jio,Report generation\nData management\nMachine le...,Bangalore/Bengaluru
17,Data Science Expert - Quality & Test Engineering,Data Scientist,SAP,data science\nIT Skills\nPython\nTesting\nMach...,Bangalore/Bengaluru
18,Data Science Senior,Manager - Data Science,EY,python\nr\nPower Bi\nPricing\nsql\nIT Skills\n...,Pune
19,"Principal, SRS - Data Science (Deep Learning)",Business Analyst,Gartner,Computer science\nCoding\nSocial media\nData m...,Gurgaon/Gurugram

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [47]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [52]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [53]:
book_name=[]
author_name=[]
vol_sold=[]
publisher=[]
genre=[]

In [54]:
    try:
        name=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]')
        for i in name:
            book_name.append(i.text)
    except NoSuchElementException:
        book_name.append('-')

In [55]:
    try:
        aut=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]')
        for i in aut:
            author_name.append(i.text)
    except NoSuchElementException:
        author_name.append('-')

In [56]:
    try:
        vol=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]')
        for i in vol:
            vol_sold.append(i.text)
    except NoSuchElementException:
        vol_sold.append('-')

In [57]:
    try:
        pub=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]')
        for i in pub:
            publisher.append(i.text)
    except NoSuchElementException:
        publisher.append('-')

In [58]:
    try:
        gen=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]')
        for i in gen:
            genre.append(i.text)
    except NoSuchElementException:
        genre.append('-')

In [59]:
print(len(book_name),len(author_name),len(vol_sold),len(publisher),len(genre))

100 100 100 100 100

In [60]:
df=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volume Sold':vol_sold,'Publisher':publisher,'Genre':genre})

In [61]:
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [55]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [56]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [57]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [58]:
names=driver.find_elements_by_xpath('//div[@class="lister-list"]/div/div/h3/a')

In [59]:
for i in names:
    name.append(i.text)

In [61]:
len(name)

100

In [62]:
year=driver.find_elements_by_xpath('//div[@class="lister-list"]/div/div/h3/span[2]')

In [63]:
for i in year:
    year_span.append(i.text)

In [65]:
len(year_span)

100

In [66]:
genres=driver.find_elements_by_xpath('//div[@class="lister-list"]/div/div/p/span[5]')

In [67]:
for i in genres:
    genre.append(i.text)

In [69]:
len(genre)

100

In [70]:
rtime=driver.find_elements_by_xpath('//div[@class="lister-list"]/div/div/p/span[3]')

In [71]:
for i in rtime:
    run_time.append(i.text)

In [73]:
rating=driver.find_elements_by_xpath('//div[@class="lister-list"]/div/div[2]/div/div/span[2]')

In [74]:
for i in rating:
    ratings.append(i.text)

In [76]:
len(ratings)

100

In [77]:
vote=driver.find_elements_by_xpath('//div[@class="lister-list"]/div/div[2]/p[4]/span[2]')

In [78]:
for i in vote:
    votes.append(i.text)

In [80]:
len(votes)

100

In [81]:
print(len(name),len(year_span),len(genre),len(run_time),len(ratings),len(votes))

100 100 100 100 100 100

In [82]:
df=pd.DataFrame({'Name':name,'Year_span':year_span,'Genre':genre,'Ratings':ratings,'Run Time':run_time,'Votes':votes})

In [83]:
df

,Name,Year_span,Genre,Ratings,Run Time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,57 min,"1,996,435"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,51 min,"1,040,160"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,44 min,"950,150"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,60 min,"283,941"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,43 min,"243,751"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",7.4,42 min,"48,897"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,50 min,"59,596"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,42 min,"190,648"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,45 min,"40,328"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,572 min,"229,046"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
driver

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [4]:
shw=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
shw.click()

In [25]:
dataset_name=[]
d_type=[]
task=[]
a_type=[]
no_instance=[]
no_attribute=[]
year=[]

In [26]:
    try:
        name=driver.find_elements_by_xpath('//p[@class="normal"]/b/a')
        for i in name:
            dataset_name.append(i.text)
    except NoSuchElementException:
        dataset_name.append('-')

In [27]:
len(dataset_name)

622

In [28]:
    try:
        d_task=driver.find_elements_by_xpath('//td[3]/p[@class="normal"]')
        for i in d_task[0:622]:
            task.append(i.text)
    except NoSuchElementException:
        task.append('--')

In [29]:
len(task)

622

In [30]:
    try:
        att=driver.find_elements_by_xpath('//td[4]/p[@class="normal"]')
        for i in att:
            a_type.append(i.text)
    except NoSuchElementException:
        a_type.append('-')

In [31]:
len(a_type)

622

In [35]:
    try:
        instance=driver.find_elements_by_xpath('//td[5]/p[@class="normal"]')
        for i in instance:
            no_instance.append(i.text)
    except NoSuchElementException:
        no_instance.append('-')

In [36]:
len(no_instance)

622

In [37]:
    try:
        attribute=driver.find_elements_by_xpath('//td[6]/p[@class="normal"]')
        for i in attribute:
            no_attribute.append(i.text)
    except NoSuchElementException:
        no_attribute.append('-')

In [38]:
len(no_attribute)

622

In [39]:
    try:
        yr=driver.find_elements_by_xpath('//td[6]/p[@class="normal"]')
        for i in yr:
            year.append(i.text)
    except NoSuchElementException:
        year.append('-')

In [40]:
len(year)

622

In [41]:
    try:
        datatype=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/p[@class="normal"]')
        for i in datatype:
            d_type.append(i.text)
    except NoSuchElementException:
        d_type.append('-')

In [43]:
len(d_type)

622

In [44]:
print(len(dataset_name),len(d_type),len(task),len(a_type),len(no_instance),len(no_attribute),len(year))

622 622 622 622 622 622 622

In [45]:
df=pd.DataFrame({'Dataset Name':dataset_name,'Data Type':d_type,'Task':task,'Attribute type':a_type,'No of instances':no_instance,'No of attribute':no_attribute,'Year':year})

In [46]:
df

,Dataset Name,Data Type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,8
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,14
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,38
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,294
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,279
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,525
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,50
619,Maternal Health Risk Data Set,,Classification,,1014,7,7
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,16
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2