# 1) Write a python program to display all the header tags from wikipedia.org.¶

In [1]:
import bs4
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [ ]:
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [5]:
header=[]

In [6]:
for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)

In [7]:
header

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [15]:
from bs4 import BeautifulSoup
import requests

In [9]:
page=requests.get('https://www.imdb.com/list/ls091520106/')

In [ ]:
page

In [11]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [17]:
movie_name=[]
year=[]
ratings=[]

In [18]:
movie_data=soup.findAll('div',attrs={'class':"lister-item mode-detail"})

In [ ]:
movie_data

In [20]:
for store in movie_data:
    
    name=store.h3.a.text
    movie_name.append(name)
    
    year_of_release=store.h3.find('span',class_='lister-item-year text-muted unbold').text
    year.append(year_of_release)
    
    rate=store.find('div',class_='ipl-rating-star small').text.replace('\n','')
    ratings.append(rate)

In [21]:
print(len(movie_name),len(year),len(ratings))

100 100 100

In [22]:
import pandas as pd

In [23]:
Movies_df=pd.DataFrame({'Movie Name':movie_name,'Year Of Release':year,'Movie Ratings':ratings})
Movies_df

                             Movie Name Year Of Release Movie Ratings
0              The Shawshank Redemption          (1994)           9.3
1                         The Godfather          (1972)           9.2
2                The Godfather: Part II          (1974)             9
3                       The Dark Knight          (2008)             9
4                          12 Angry Men          (1957)             9
..                                  ...             ...           ...
95                   North by Northwest          (1959)           8.3
96                   A Clockwork Orange          (1971)           8.3
97                               Snatch          (2000)           8.3
98  Le fabuleux destin d'Amélie Poulain          (2001)           8.3
99                              The Kid          (1921)           8.3

[100 rows x 3 columns]

# 3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [26]:
from bs4 import BeautifulSoup
import requests

In [27]:
page=requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')

In [ ]:
page

In [29]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
soup

In [31]:
movie_name=[]
year=[]
rating=[]

In [32]:
movie_data=soup.findAll('div',attrs={'class':"lister-item mode-detail"})

In [ ]:
movie_data

In [34]:
for store in movie_data:
    
    name=store.h3.a.text
    movie_name.append(name)
    
    year_of_release=store.h3.find('span',class_='lister-item-year text-muted unbold').text
    year.append(year_of_release)
    
    rate=store.find('div',class_='ipl-rating-star small').text.replace('\n','')
    rating.append(rate)

In [37]:
print(len(movie_name),len(year),len(rating))

100 100 100

In [38]:
import pandas as pd

In [39]:
df=pd.DataFrame({'Movie Name':movie_name,'Year Of Release':year,'Movie Ratings':rating})
df

                 Movie Name Year Of Release Movie Ratings
0                   Golmaal          (1979)           8.5
1                  3 Idiots          (2009)           8.4
2          Taare Zameen Par          (2007)           8.4
3              Black Friday          (2004)           8.4
4                    Masoom          (1983)           8.4
..                      ...             ...           ...
95                    Gunda          (1998)           7.5
96  Jaane Tu... Ya Jaane Na          (2008)           7.4
97   Qayamat Se Qayamat Tak          (1988)           7.4
98                 Rangeela          (1995)           7.4
99             Socha Na Tha          (2005)           7.4

[100 rows x 3 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get('https://meesho.com/bags%02ladies/pl/p7vbp')

In [3]:
page

In [4]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [6]:
product_name=[]

In [7]:
for i in soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS'):
    product_name.append(i.text)

In [ ]:
product_name

In [9]:
price=[]

In [10]:
for i in soup.find_all('h5',class_='Text__StyledText-sc-oo0kvp-0 hiHdyy'):
    price.append(i.text)

In [ ]:
price

In [17]:
discount=[]

In [18]:
for i in soup.find_all('span',class_='Text__StyledText-sc-oo0kvp-0 lnonyH'):
    discount.append(i.text.replace('off',''))

In [ ]:
discount

In [20]:
print(len(product_name),len(price),len(discount))

17 17 17

In [21]:
import pandas as pd

In [24]:
df=pd.DataFrame({'Product Name':product_name,'Price':price,'Discount':discount})

In [25]:
df

                            Product Name  Price Discount
0        Ravishing Classy Women Handbags   ₹950      5%
1          Graceful Fancy Women Handbags   ₹528      9%
2       Classic Versatile Women Handbags   ₹950      5%
3      Ravishing Alluring Women Handbags   ₹384     12%
4           Voguish Fancy Women Handbags  ₹1549      3%
5   Ravishing Fashionable Women Handbags   ₹316     14%
6         Classic Stylish Women Handbags  ₹3202      2%
7      Graceful Versatile Women Handbags   ₹950      5%
8          Elegant Classy Women Handbags   ₹950      5%
9        Elegant Alluring Women Handbags  ₹2337      2%
10    Graceful Attractive Women Handbags   ₹550      8%
11        Trendy Alluring Women Handbags  ₹1320      4%
12    Elegant Fashionable Women Handbags   ₹725      6%
13       Classic Alluring Women Handbags   ₹518      9%
14    Classic Fashionable Women Handbags   ₹620      7%
15          Classic Fancy Women Handbags   ₹646      7%
16        Trendy Alluring Women Handbags   ₹950      5%

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:
#Every Rank1 position have diffent code in this site.....so hereby i 1st declare all data about rank 1 and after that for rest 9 teams or player asked according to question

In [55]:
from bs4 import BeautifulSoup
import requests

In [56]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [57]:
page

In [58]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [61]:
teams=[]

In [62]:
for i in soup.find_all('span',class_='u-hide-phablet'):
    teams.append(i.text)

In [63]:
Top10_teams=teams[:10]

In [64]:
Top10_teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [ ]:
Teams=teams[1:10]   #rest 9 teams except rank1
Teams

In [37]:
#for New zealand the code is different cause it was highlighted in different color

#rank1

In [38]:
#for NZ
NZ_Match=soup.find('td',class_='rankings-block__banner--matches')
NZ_Match.text

'20'

In [39]:
NZ_points=soup.find('td',class_='rankings-block__banner--points')
NZ_points.text

'2,448'

In [40]:
NZ_ratings=soup.find('td',class_='rankings-block__banner--rating u-text-right')
NZ_ratings.text.replace('\n','')

'                            122                            '

In [68]:
Match_N_points=[]   #for rest 9 teams

In [69]:
#for match and point the code is same so i have to find its value like this

for i in soup.findAll('td',class_='table-body__cell u-center-text'):
    Match_N_points.append(i.text)

In [ ]:
match_n_points=Match_N_points[:18]#top 2-10 teams match and Points
match_n_points

In [73]:
rating=[]

In [74]:
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text.replace('\n',''))

In [75]:
ratings=rating[:9] #for rest 9 teams except NZ

In [76]:
match=[]

In [77]:
for i in range(0,len(match_n_pionts),2)[:18]:
     match.append(match_n_pionts[i])

In [ ]:
match

In [79]:
points=[]

In [81]:
for i in range(1,len(match_n_points),2)[:18]:
     points.append(match_n_points[i])

In [ ]:
points

In [83]:
import pandas as pd

In [84]:
df=pd.DataFrame({'Teams':Team,'Match':match,'Points':points,'Ratings':ratings})
df     #rest 9 teams except rank1 because rank1 team has differnt code

          Teams Match Points Ratings
0  South Africa    28  3,793     119
1       England    30  3,475     112
2         India    29  4,162     110
3   New Zealand    31  3,167     102
4   West Indies    28  2,921      97
5    Bangladesh    12  3,350      93
6      Pakistan    26  2,835      81
7       Ireland     5  2,788      77
8     Sri Lanka     5  1,562      68

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [3]:
page

In [4]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [7]:
#Here also for rank1--->>the code is different coz it is in highlight color and text
#and for rest all the code is same

In [8]:
#for rank1 player name

rank1_player_name=soup.find('div',class_='rankings-block__banner--name-large')
rank1_player_name.text

'Babar Azam'

In [10]:
#for rank1 player team
rank1_player_team=soup.find('div',class_='rankings-block__banner--nationality')
rank1_player_team.text.replace('\n','')

'PAK                    '

In [12]:
#for rating
rank1_player_rating=soup.find('div',class_='rankings-block__banner--rating')
rank1_player_rating.text

'891'

for other 9 players

In [13]:
names=[]

In [14]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    names.append(i.text.replace('\n',''))

In [ ]:
player_name=names[:9]
player_name

In [17]:
teams=[]

In [18]:
for i in soup.find_all('span',class_='table-body__logo-text'):
    teams.append(i.text)

In [19]:
team=teams[:9]

In [ ]:
team

In [21]:
ratings=[]

In [22]:
for i in soup.find_all('td',class_='table-body__cell rating'):
    ratings.append(i.text)

In [26]:
rating=ratings[:9]

In [ ]:
rating

In [ ]:
print(len(player_name),len(team),len(rating))

In [30]:
import pandas as pd

In [31]:
df=pd.DataFrame({'Name':player_name,'Team':team,'Rating':rating})

In [32]:
df

                    Name Team Rating
0            Virat Kohli  IND    811
1            Imam-ul-Haq  PAK    795
2           Rohit Sharma  IND    791
3        Quinton de Kock   SA    789
4         Jonny Bairstow  ENG    775
5            Ross Taylor   NZ    775
6  Rassie van der Dussen   SA    769
7           David Warner  AUS    750
8            Aaron Finch  AUS    745

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [33]:
from bs4 import BeautifulSoup
import requests

In [34]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [35]:
page

In [36]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [38]:
#Here also for rank1--->>the code is different coz it is in highlight color and text
#and for rest all the code is same

In [39]:
#for Rank1 BOWLER

In [40]:
rank1_bowler_name=soup.find('div',class_='rankings-block__banner--name-large')
rank1_bowler_name.text

'Trent Boult'

In [41]:
rank1_bowler_team=soup.find('div',class_='rankings-block__banner--nationality')
rank1_bowler_team.text.replace('\n','')

'NZ                    '

In [42]:
rank1_bowler_rating=soup.find('div',class_='rankings-block__banner--rating')
rank1_bowler_rating.text

'726'

In [43]:
#for rest 9 top bowlers
player_names=[]

In [44]:
for i in soup.findAll('td',class_='table-body__cell rankings-table__name name'):
    player_names.append(i.text.replace('\n',''))

In [45]:
player_name=player_names[:9]

In [ ]:
player_name

In [47]:
players_team=[]

In [48]:
for i in soup.findAll('span',class_='table-body__logo-text'):
    players_team.append(i.text)

In [50]:
players_teams=players_team[:9]

In [ ]:
players_teams

In [52]:
players_rating=[]

In [53]:
for i in soup.findAll('td',class_='table-body__cell rating'):
    players_rating.append(i.text)

In [54]:
player_ratings=players_rating[:9]

In [ ]:
player_ratings

In [56]:
print(len(player_name),len(players_teams),len(player_ratings))

9 9 9

In [57]:
import pandas as pd

In [58]:
df=pd.DataFrame({'Player Name':player_name,'Team':players_teams,'Rating':player_ratings})
df

        Player Name Team Rating
0      Chris Woakes  ENG    700
1    Josh Hazlewood  AUS    698
2        Matt Henry   NZ    683
3  Mujeeb Ur Rahman  AFG    681
4    Jasprit Bumrah  IND    679
5    Shaheen Afridi  PAK    671
6      Mehedi Hasan  BAN    661
7   Shakib Al Hasan  BAN    657
8       Rashid Khan  AFG    650

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [26]:
from bs4 import BeautifulSoup
import requests

In [27]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [29]:
#top10 teams
team=[]

In [30]:
for i in soup.findAll('span',class_='u-hide-phablet'):
    team.append(i.text)

In [31]:
teams=team[:10]  #top 10 teams
teams

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [32]:
#Here also for rank1--->>the code is different coz it has highlight color and text
#and for rest all the code is same

In [33]:
#for Australia(rank1)
#match played
Aus_matches=soup.find('td',class_='rankings-block__banner--matches')
Aus_matches.text

'29'

In [34]:
#for points
Aus_points=soup.find('td',class_='rankings-block__banner--points')
Aus_points.text

'4,840'

In [35]:
#for rating
Aus_ratings=soup.find('td',class_='rankings-block__banner--rating u-text-right')
Aus_ratings.text.replace('\n','')

'                            167                            '

In [36]:
#for rest 9 teams
Match_And_points=[]

In [37]:
for i in soup.findAll('td',class_='table-body__cell u-center-text'):
    Match_And_points.append(i.text)

In [44]:
#here for match and points the code is same
match_n_pionts=Match_And_points[:18]   #2-10 teams

In [ ]:
match_n_pionts

In [39]:
rating=[]

In [40]:
for i in soup.findAll('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)

In [ ]:
ratings=rating[:9]    #rest 9 teams except Aus 
ratings

In [ ]:
Team=team[1:10]
Team

In [43]:
match=[]

In [47]:
for i in range(0,len(match_n_pionts),2)[:18]:
     match.append(match_n_pionts[i])

In [ ]:
match

In [49]:
points=[]

In [50]:
for i in range(1,len(match_n_pionts),2)[:18]:
     points.append(match_n_pionts[i])

In [ ]:
points

for rest 9 temas the df is given below

In [52]:
import pandas as pd

In [54]:
df=pd.DataFrame({'Teams':Team,'Match':match,'Points':points,'Ratings':ratings})
df

          Teams Match Points Ratings
0  South Africa    28  3,504     125
1       England    30  3,533     118
2         India    29  2,878      99
3   New Zealand    31  3,030      98
4   West Indies    28  2,481      89
5    Bangladesh    12    936      78
6      Pakistan    26  1,752      67
7       Ireland     5    240      48
8     Sri Lanka     5    233      47

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [22]:
from bs4 import BeautifulSoup
import requests

In [23]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [25]:
#Here is also for rank1--->>the code is different coz it is in highlight color and text
#and for rest all the code is same

In [26]:
#for rank1 player name
rank1_batsman=soup.find('div',class_='rankings-block__banner--name-large')
rank1_batsman.text

'Alyssa Healy'

In [29]:
#for rank1 player's team
rank1_player_team=soup.find('div',class_='rankings-block__banner--nationality')
rank1_player_team.text.replace('\n','')

'AUS                    '

In [30]:
#for rank1 player's rating
rank1_player_rating=soup.find('div',class_='rankings-block__banner--rating')
rank1_player_rating.text

'785'

#for rest 9 players--->>>

In [31]:
names=[]

In [35]:
for i in soup.findAll('td',class_='table-body__cell rankings-table__name name'):
    names.append(i.text.replace('\n',''))

In [ ]:
player_names=names[:9]
player_names

In [37]:
teams=[]

In [38]:
for i in soup.findAll('span',class_='table-body__logo-text'):
    teams.append(i.text)

In [40]:
team=teams[:9]

In [ ]:
team

In [42]:
rating=[]

In [43]:
for i in soup.findAll('td',class_='table-body__cell rating'):
    rating.append(i.text)

In [46]:
ratings=rating[:9]

In [ ]:
ratings

In [ ]:
print(len(player_names),len(team),len(ratings))

In [49]:
import pandas as pd

In [50]:
df=pd.DataFrame({'Player Name':player_names,'Team':team,'Rating':ratings})

In [51]:
df #dataframe of 9 players except rank1 coz rank1 has different code

         Player Name Team Rating
0     Natalie Sciver  ENG    750
1        Beth Mooney  AUS    748
2    Laura Wolvaardt   SA    722
3        Meg Lanning  AUS    710
4     Rachael Haynes  AUS    701
5        Mithali Raj  IND    686
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [52]:
from bs4 import BeautifulSoup
import requests

In [53]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [54]:
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [56]:
#Here is also for rank1--->>the code is different coz it is in highlight color and text
#and for rest all the code is same

In [57]:
#for rank1 player name
rank1_allrounder=soup.find('div',class_='rankings-block__banner--name-large')
rank1_allrounder.text

'Natalie Sciver'

In [60]:
#for rank1 players team
rank1_allrounder_team=soup.find('div',class_='rankings-block__banner--nationality')
rank1_allrounder_team.text.replace('\n','')

'ENG                    '

In [62]:
#for rank1 players rating
rank1_allrounder_rating=soup.find('div',class_='rankings-block__banner--rating')
rank1_allrounder_rating.text

'393'

In [63]:
###for rest 9 players--->>>>

In [64]:
player_name=[]

In [65]:
for i in soup.findAll('td',class_='table-body__cell rankings-table__name name'):
    player_name.append(i.text.replace('\n',''))

In [66]:
player_names=player_name[:9]

In [ ]:
player_names

In [68]:
teams=[]

In [69]:
for i in soup.findAll('span',class_='table-body__logo-text'):
    teams.append(i.text)

In [73]:
team=teams[:9]

In [ ]:
team

In [75]:
rating=[]

In [76]:
for i in soup.findAll('td',class_='table-body__cell rating'):
    rating.append(i.text)

In [78]:
ratings=rating[:9]

In [ ]:
ratings

In [ ]:
print(len(player_names),len(team),len(ratings))

In [81]:
import pandas as pd

In [82]:
df=pd.DataFrame({'Player Name':player_names,'Team':team,'Rating':ratings})

In [83]:
df  #dataframe of rest 9 allrounders

        Player Name Team Rating
0      Ellyse Perry  AUS    374
1    Marizanne Kapp   SA    359
2   Hayley Matthews   WI    338
3       Amelia Kerr   NZ    335
4  Ashleigh Gardner  AUS    269
5     Deepti Sharma  IND    249
6     Jess Jonassen  AUS    245
7   Katherine Brunt  ENG    221
8    Jhulan Goswami  IND    217

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [30]:
from bs4 import BeautifulSoup
import requests

In [31]:
page=requests.get('https://coreyms.com/')

In [32]:
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [34]:
headings=[]

In [35]:
for i in soup.findAll('a',class_='entry-title-link'):
    headings.append(i.text)

In [ ]:
headings

In [37]:
date=[]

In [38]:
for i in soup.findAll('time',class_='entry-time'):
    date.append(i.text)

In [ ]:
date

In [40]:
contents=[]

In [41]:
for i in soup.find_all('div',class_='entry-content'):
    contents.append(i.text.replace('\n',''))

In [ ]:
contents

In [43]:
Y_tube=[]

In [44]:
for i in soup.find_all("iframe", class_="youtube-player"):

    Y_tube.append(i['src'])

In [ ]:
Y_tube

In [46]:
Y_tube.insert(4,'NA')

In [47]:
print(len(headings),len(date),len(contents),len(Y_tube))

10 10 10 10

In [48]:
import pandas as pd

In [49]:
df=pd.DataFrame({'Headings':headings,'Date':date,'Contents':contents,'Youtube Link':Y_tube})

In [50]:
df

,Headings,Date,Contents,Youtube Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,NA
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

# 8)Write a python program to scrape house details from mentioned URL. It should include house title, location,areaEMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get('https://www.nobroker.in/property/sale/hyderabad/multiple?searchParam=W3sibGF0IjoxNy40NDc0NDc1LCJsb24iOjc4LjM1NjkyNzUsInBsYWNlSWQiOiJDaElKZzVwcF9KU1R5enNSaHBYNzU2M2VkX2ciLCJwbGFjZU5hbWUiOiJJbmRpcmEgTmFnYXIifSx7ImxhdCI6MTcuNDk5NzcxNSwibG9uIjo3OC40MDYyNjIzLCJwbGFjZUlkIjoiQ2hJSlA0a3lkZXFSeXpzUjhYMFNocXdoQTNVIiwicGxhY2VOYW1lIjoiSmF5YSBOYWdhciJ9LHsibGF0IjoxNy4zNTk1MzQ4LCJsb24iOjc4LjUxNTg2MDUsInBsYWNlSWQiOiJDaElKQVFBODdXQ1l5enNSS1QtSFdvQ0k3TUUiLCJwbGFjZU5hbWUiOiJKYXlhIE5hZ2FyIn1d&radius=2.0&city=hyderabad&locality=Indira%20Nagar,&locality=Jaya%20Nagar,&locality=Jaya%20Nagar')

In [3]:
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [5]:
title=[]

In [6]:
for i in soup.find_all('h2',class_="heading-6 flex items-center font-semi-bold m-0"):
    title.append(i.text)

In [ ]:
title

In [7]:
location=[]

In [8]:
for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    location.append(i.text)

In [ ]:
location

In [10]:
area_n_emi=[]

In [11]:
for i in soup.find_all('div',class_='flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1'):
    area_n_emi.append(i.text.replace('Builtup',''))

In [ ]:
area_n_emi

In [13]:
price=[]

In [14]:
for i in soup.find_all('div',class_='flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0'):
    price.append(i.text)

In [ ]:
price

In [16]:
area = []

In [17]:
for i in range(0,len(area_n_emi),2)[:50]:
     area.append(area_n_emi[i])

In [ ]:
area

In [19]:
emi=[]

In [20]:
for i in range(1,len(area_n_emi),2)[:50]:
               emi.append(area_n_emi[i])

In [ ]:
emi

In [22]:
print(len(title),len(location),len(area),len(emi),len(price))

25 25 25 25 25

In [23]:
import pandas as pd

In [24]:
df=pd.DataFrame({'Title':title,'Location':location,'Area':area,'Emi':emi,'Price':price})

In [25]:
df

,Title,Location,Area,Emi,Price
0,2 BHK Flat For Sale In Mumtaz Residency Sbh ...,Near Cambridge High School Karan Bagh Saidabad,890 sqft,"₹21,779/MonthEstimated EMI","₹38 Lacs₹4,270 per sq.ft."
1,"3 BHK Flat For Sale In Park View Residency, ...",OPP to go gas,"1,225 sqft","₹45,851/MonthEstimated EMI","₹80 Lacs₹6,531 per sq.ft."
2,4+ BHK In Independent House For Sale In Jaya...,"Independent House, Near New Royal High School ...","2,200 sqft",₹1.32 Lacs/MonthEstimated EMI,"₹2.3 Crores₹10,455 per sq.ft."
3,2 BHK Flat For Sale In Vaishnavi Enclave In ...,"16-2-835/67, 33/A, M.I.G.H, Karan Bagh, New Sa...","1,050 sqft","₹21,779/MonthEstimated EMI","₹38 Lacs₹3,619 per sq.ft."
4,2 BHK Flat For Sale In Zubair Residency In K...,Saidabad karan bagh cambridge high schoo,850 sqft,"₹14,328/MonthEstimated EMI","₹25 Lacs₹2,941 per sq.ft."
5,2 BHK Flat For Sale In Sai Saraswathi Enclav...,"Road Number 17, Saraswathi Nagar, Saroor Nagar...",855 sqft,"₹14,901/MonthEstimated EMI","₹26 Lacs₹3,041 per sq.ft."
6,3 BHK In Independent House For Sale In Saidabad,"Independent House, Laxmi Nagar,Near Singi Redd...","1,500 sqft",₹2.87 Lacs/MonthEstimated EMI,"₹5 Crores₹33,333 per sq.ft."
7,2 BHK Flat For Sale In Park View Apartment ...,"Singareni Colony, Saroor Nagar West Near State...","1,060 sqft","₹25,218/MonthEstimated EMI","₹44 Lacs₹4,151 per sq.ft."
8,2 BHK Flat For Sale In Shailaja Castle Apar...,"Madhav nagar,near Saidabad Colony Post Office",900 sqft,"₹22,925/MonthEstimated EMI","₹40 Lacs₹4,444 per sq.ft."
9,4+ BHK In Independent House For Sale In Said...,"Independent House, Saidabad Colony - Dhobi Gha...","3,330 sqft",₹2.58 Lacs/MonthEstimated EMI,"₹4.5 Crores₹13,514 per sq.ft."
10,3 BHK Flat For Sale In Quality Constructions...,Sayeedabad Colony near Singi Reddy Srinivas Re...,"1,395 sqft","₹54,448/MonthEstimated EMI","₹95 Lacs₹6,810 per sq.ft."
11,3 BHK Flat For Sale In Pearls Apartment In S...,farah colony,"1,370 sqft","₹37,254/MonthEstimated EMI","₹65 Lacs₹4,745 per sq.ft."
12,3 BHK Flat For Sale In Crown Plaza In Saidabad,Saidabad road Near More Supermarket,"1,313 sqft","₹31,522/MonthEstimated EMI","₹55 Lacs₹4,189 per sq.ft."
13,4+ BHK In Independent House For Sale In Saro...,"Independent House, Sayeedabad Colony, Saraswat...","3,500 sqft",₹1.89 Lacs/MonthEstimated EMI,"₹3.3 Crores₹9,429 per sq.ft."
14,4+ BHK In Independent House For Sale In Shan...,"Independent House, Sankeshwar Bazar, Shiva-Gan...","2,600 sqft","₹85,971/MonthEstimated EMI","₹1.5 Crores₹5,769 per sq.ft."
15,4 BHK In Independent House For Sale In Shank...,"Independent House, Saidabad","1,900 sqft","₹74,508/MonthEstimated EMI","₹1.3 Crores₹6,842 per sq.ft."
16,2 BHK Flat For Sale In North East Residency ...,"Saidabad, Hyderabad, Telangana, INDIA.","1,050 sqft","₹31,522/MonthEstimated EMI","₹55 Lacs₹5,238 per sq.ft."
17,2 BHK Flat For Sale In Eeshwar Samyuktha Res...,"Vivekanada Park Road, Sai Ganga Colony, Shanke...","1,057 sqft","₹28,657/MonthEstimated EMI","₹50 Lacs₹4,730 per sq.ft."
18,1 BHK In Independent House For Sale In Saidabad,"Vishnu Nagar, Saidabad,Hyderabad",270 sqft,"₹17,194/MonthEstimated EMI","₹30 Lacs₹11,111 per sq.ft."
19,3 BHK Flat For Sale In Vgr Towers In Saidabad,Asmangadh near TSSPDCL 33/11 KV Asmangadh Sub ...,"1,990 sqft","₹60,180/MonthEstimated EMI","₹1.05 Crores₹5,276 per sq.ft."
20,2 BHK Flat For Sale In Ashirwad Luxury Homes...,Opp More Super Market,"1,375 sqft","₹37,254/MonthEstimated EMI","₹65 Lacs₹4,727 per sq.ft."
21,3 BHK Flat For Sale In Laavis Viraaj In Subr...,Saidabad Colony near Sri Padmavathi Mahila Kal...,"2,470 sqft","₹94,141/MonthEstimated EMI","₹1.64 Crores₹6,650 per sq.ft."
22,2 BHK In Independent House For Sale In Saida...,"Independent House, Subramanyanagar near Sri Pa...",800 sqft,"₹40,120/MonthEstimated EMI","₹70 Lacs₹8,750 per sq.ft."
23,3 BHK Flat For Sale In Elegance Wings Enclav...,"farha colony, Sai Ganga Colony, Shankeshwar Ba...","1,250 sqft","₹27,510/MonthEstimated EMI","₹48 Lacs₹3,840 per sq.ft."
24,3 BHK Flat For Sale In Marjan Aashiyana In S...,Masjid-e-Quba Rd near Masjid-e-Quba,"1,050 sqft","₹31,522/MonthEstimated EMI","₹55 Lacs₹5,238 per sq.ft."

# 9) Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [33]:
from bs4 import BeautifulSoup
import requests

In [34]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/welcome-back')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

i) Restaurant name

In [37]:
restaurant_name=[]

In [38]:
for i in soup.find_all('div',class_='restnt-info cursor'):
    restaurant_name.append(i.text)

In [ ]:
restaurant_name

ii) Cuisine

In [40]:
#price and cuisine both are attached so here we canot find only cuisin

In [43]:
price_n_cuisine=[]

In [45]:
for i in soup.find_all('span',class_='double-line-ellipsis'):
    price_n_cuisine.append(i.text)

In [ ]:
price_n_cuisine

iii) Location

In [47]:
location=[]

In [48]:
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)

In [ ]:
location

iv) Ratings

In [50]:
ratings=[]

In [52]:
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    ratings.append(i.text)

In [ ]:
ratings

v) Image URL

In [54]:
image_url=[]

In [55]:
for i in soup.find_all('img',class_='no-img'):
    image_url.append(i['data-src'])

In [ ]:
image_url

In [57]:
print(len(restaurant_name),len(price_n_cuisine),len(location),len(ratings),len(image_url))

21 21 21 21 21

In [58]:
import pandas as pd

In [61]:
df=pd.DataFrame({'Restaurant Name':restaurant_name,'Cuisine & Price':price_n_cuisine,'Location':location,'Ratings':ratings,'Image URL':image_url})

In [62]:
df

,Restaurant Name,Cuisine & Price,Location,Ratings,Image URL
0,"TamashaConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Continental, Asian, I...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,"LocalScindia House,Connaught Place, Central Delhi","₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,"Unplugged CourtyardConnaught Place, Central Delhi","₹ 3,300 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,"The G.T. ROADM-Block,Connaught Place, Central ...","₹ 1,400 for 2 (approx) | North Indian","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"Ministry Of BeerM-Block,Connaught Place, Centr...","₹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Connaught Clubhouse MicrobreweryConnaught Plac...,"₹ 1,600 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
6,"Warehouse CafeConnaught Place, Central Delhi","₹ 2,500 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,"Chili's American Grill and BarM-Block,Connaugh...","₹ 2,000 for 2 (approx) | Mexican, American, Te...","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,"Openhouse CafeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
9,"SandozConnaught Place, Central Delhi","₹ 1,400 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
10,"The Junkyard CafeConnaught Place, Central Delhi","₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,"Lord of the DrinksConnaught Place, Central Delhi","₹ 2,500 for 2 (approx) | Chinese, North Indian...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,"Berco'sConnaught Place, Central Delhi","₹ 1,300 for 2 (approx) | Chinese","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
13,"QBAConnaught Place, Central Delhi","₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,High 5 - Everyday Wholesale BarConnaught Place...,"₹ 1,700 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
15,"The Imperial SpiceM-Block,Connaught Place, Cen...","₹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
16,"ChidoConnaught Place, Central Delhi","₹ 1,800 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
17,"My Bar SquareConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Finger Food, Chinese,...","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
18,"Out Of The Box CourtyardConnaught Place, Centr...","₹ 2,200 for 2 (approx) | North Indian, Mediter...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,"Oh My GodF-Block,Connaught Place, Central Delhi","₹ 1,100 for 2 (approx) | Continental, North In...","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
20,"The Luggage Room By SandozM-Block,Connaught Pl...","₹ 1,600 for 2 (approx) | Chinese, Italian, Nor...","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [63]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page=requests.get('https://www.bewakoof.com/women-clothing/category-t-shirt')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [66]:
product_name=[]

In [67]:
for i in soup.find_all('div',class_='productCardDetail'):
    product_name.append(i.text)

In [ ]:
product_name

In [69]:
price=[]

In [71]:
for i in soup.find_all('span',class_='discountedPriceText'):
    price.append(i.text)

In [ ]:
price

In [73]:
image_url=[]

In [74]:
for i in soup.find_all('img',class_='productImgTag'):
    image_url.append(i['src'])

In [ ]:
image_url

In [ ]:
print(len(product_name),len(price),len(image_url))

In [77]:
import pandas as pd

In [78]:
df=pd.DataFrame({'Product Name':product_name,'Price':price,'Image URL':image_url})

In [79]:
df

,Product Name,Price,Image URL
0,Women's Black T-shirt₹ 299399₹269For TriBe Mem...,₹ 299,https://images.bewakoof.com/t320/jet-black-rou...
1,White Round Neck 3/4th Sleeve T-Shirt₹ 299399₹...,₹ 299,https://images.bewakoof.com/t320/white-round-n...
2,Women's Blue Slim Fit T-shirt₹ 299399₹269For T...,₹ 299,https://images.bewakoof.com/t320/navy-blue-rou...
3,Jet Black Full Sleeve T-Shirt₹ 299999FEW LEFT₹...,₹ 299,https://images.bewakoof.com/t320/jet-black-ful...
4,Women's Black Life is Tough Typography Oversiz...,₹ 699,https://images.bewakoof.com/t320/women-s-black...
5,Women's Yellow San Francisco Printed Oversized...,₹ 559,https://images.bewakoof.com/t320/women-s-yello...
6,Women's Orange Bold and Brave Typography Overs...,₹ 559,https://images.bewakoof.com/t320/women-s-orang...
7,Women's Brown Justice Printed Oversized T-shir...,₹ 559,https://images.bewakoof.com/t320/women-s-brown...
8,Women's Purple Smiley Faces Printed Oversized ...,₹ 699,https://images.bewakoof.com/t320/women-s-purpl...
9,Women's Orange Ambassador Printed Oversized T-...,₹ 559,https://images.bewakoof.com/t320/women-s-orang...